{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Leave Management Form</title>
  </head>
  <body>
    <h1>Leave Management Form</h1>
    {% include 'dashboard/messages.html' %}
    <form method="post">
      {% csrf_token %}
      
      <label for="start-date">Start Date:</label>
      <input type="date" id="start-date" name="start-date"><br><br>
      <label for="end-date">End Date:</label>
      <input type="date" id="end-date" name="end-date"><br><br>
      <label for="reason">Reason:</label>
      <input type="text" id="reason" name="reason"><br><br>
      <input type="submit" value="Submit">
      z= {user.username}
    {% for members in mem %}

      y= {members.username}
      
      {% if z == y %}
          a={{members.year}}
          print(a)
        {% if a==2020 or a==2021 %}
        <a href="#">
          <button type="button" id="req" class="btn btn-outline-dark">Sample</button>
        </a>
        {% endif %}
      {% endif %}
    {% endfor %}                      

    </form>
  </body>
</html>