

{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Leave Management Form</title>
  </head>
  <body>
    <h1>Leave Management Form</h1>
    <form method="post">
      {% csrf_token %}
      
      <label for="start-date">Start Date:</label>
      <input type="date" id="start-date" name="start-date"><br><br>
      
      <label for="end-date">End Date:</label>
      <input type="date" id="end-date" name="end-date"><br><br>
      
      <label for="reason">Reason:</label>
      <input type="text" id="reason" name="reason"><br><br>
      
     
      <input type="submit" value="Submit">
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Form submitted successfully!</p>
        </div>
      </div>

    </form>
  </body>
</html>