body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

table {
    border-collapse: collapse;
    width: 75%;
    position: relative;
    top: 110px;
    border: 1px solid black;  
    margin-left: auto;  
    margin-right: auto;  
    border-collapse: collapse;    

    text-align: center;  
    font-size: 20px;  
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #4caf50;
    color: white;
  }
 
  #myInput {
    position: relative;
    top: 140px;
    left:  180px;}
  #batch {
      position: relative;
      top: 15px;
      left: 550px;
    }

  .login-info {
    position: relative;
    top: 20px;
    left: 112%;
    }

    .btn {
      position: relative;
      height: 71%;
      top: -28px;
      width: 12%;
      left: 98%;
    }
