table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    top: 70px;
    border: 1px solid black;  
    margin-left: auto;  
    margin-right: auto;  
    border-collapse: collapse;    

    text-align: center;  
    font-size: 20px;  
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #4caf50;
    color: white;
  }
 
  #myInput {
    position: relative;
    top: 60px;
    right: 10px;}
  #batch {
      position: relative;
      top: -25px;
      left: 350px;
    }
<<<<<<< HEAD
    .login-info {
      position: relative;
      top: -10px;
      right: 35px;
    }
=======
.btn {
  position: relative;
  top: -15px;
  left: 1300px;
}
>>>>>>> d89b02fa7d2c75b4c5f61ca140d2acf407548290
